fastapi
uvicorn[standard]
joblib
scikit-learn
pandas
xgboost
PyJWT
passlib[bcrypt]
python-multipart
python-dotenv
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
tensorflow-cpu
numpy
pickle-mixin
aiofiles
category_encoders
dill
nltk
google-generativeai
openpyxl
skforecast